.all_products_data {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .all_products_data {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .all_products_data {
    grid-template-columns: 1fr 1fr;
  }
}
